* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

/* LANDING PAGE */

#landing-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #374045;
}

#landing-header {
    height: 30vh;
    width: clamp(20rem, 40vw, 80rem);

    color: white;
    text-align: center;
    line-height: 1.75rem;

}

/* PROJECTS PAGE */
#projects-grid {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 33.33vh 33.33vh 33.33vh;

    background-color: #374045;
}

/* CARDS */

.card {
    
}

img {
    position: absolute;
    width: 25vw;
    height: 33.33vh;
    object-fit: cover;
}

.card-info {
    position: absolute;
    width: 25vw;
    height: 33.33vh;

    background-color: black;
    color: white;

    text-align: center;
    opacity: 0;
    z-index: 1;
}

.card-info:hover {
    opacity: 0.9;
}

/* SKILLS */

#skillset {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #374045;
}

.skill-groups {
    width: 25vw;
    height: 70vh;
    border: cyan 1px solid;
}